h1 {
  color:#5F9EA0;
  text-align:center;
}
.favoritequote {
  color:#FF7F50;
  text-align:center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 0.5;
}
h2 {
  color:#5F9EA0;
  text-align: center;
}
h3 {
  color:#5F9EA0;
  text-align: center;
}
.projectlist{
  color:#FF7F50;
}

.githublink {
  list-style-type: upper-roman;
  font-weight: bold;
}